<!DOCTYPE html>
<html>
<head>
	<title>Color Match</title>
	<link rel="stylesheet" href="/stylesheets/main.css">
	<link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
</head>
<body>

<div id="header">
    <h1>Color Match</h1>
    <div id="goalSquare">
		<span id="countdown">0</span>
	</div>
    <p id="subtext">Select the color as many times as you can before it changes!</p>
</div>


<div id="stripe">
    <button id="startBtn">Start</button>
    <span id="userMessage"></span>
    <button class="mode">Easy</button>
    <button class="mode">Medium</button>
    <button class="mode selected">Hard</button>
    <button class="mode">Insanity</button>
</div>

<div id="container">
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
</div>
	
<div id="gameOver">
	<h1>
		GAME OVER
	</h1>
	<h2>
		You scored <span id="finalScore">0</span> points!
	</h2>
</div>


<script type="text/javascript" src="/js/functionality.js"></script>
</body>
</html>